<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <include file="$(find mobile_robot_nav)/launch/amcl.launch" />
    <include file="$(find mobile_robot_nav)/launch/map_server.launch" />
    <include file="$(find mobile_robot_nav)/launch/move_base.launch" />
    <include file="$(find mobile_robot_nav)/launch/rviz_nav.launch" />
</launch>