<launch>
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find mobile_robot)/urdf/mobile_robot.urdf.xacro" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find mobile_robot)/config/display.rviz" />
</launch>