<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false" />
    <arg name="use_sim_time" value="true" />
    <arg name="gui" value="true" />
    <arg name="headless" value="false" />
  </include>
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-param robot_description -urdf -model mobile_robot"
    output="screen" />

  <param name="robot_description"
    command="$(find xacro)/xacro --inorder $(find mobile_robot)/urdf/mobile_robot.urdf.xacro" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"
    output="screen" />
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"
    output="screen" />
</launch>